@charset "utf-8";
@import url("/esecurity/assets/common/css/basic.css");
@import url("/esecurity/assets/common/css/common.css");
html, body, .wrap{height:100%;}
.wrap{position:relative;width:100%;}
body > .wrap{height:auto;min-height:100%;}
.footWrap{clear:both;position:relative;}
.contentWrap:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.contentWrap{position:relative;}
.headerWrap{border:0px solid #000;}
#header{position:relative;z-index:100; min-width:1152px; height:81px; background:url("/esecurity/assets/common/images/common_user/top_area_bg.png") repeat-x 0 top;}
.header_area{position:relative;width:1152px; margin:0 auto; border:0px solid #000; overflow:hidden;}
.contentWrap{width:1152px;margin:40px auto 0 auto;position:relative;padding-bottom:120px;z-index:99; border:0px solid #000;}
#content_area{width:1152px;position:relative;margin:0 auto;zoom:1}
#leftarea{float:left; width:199px; border-right:0px solid #dadada; padding-bottom:30px;}
#contentsArea{float:left; width:850px; margin-left:50px}
#quickArea{float:right; width:49px; height:300px; margin-left:25px; border-left:0px solid #dadada; text-align:right; }
#bottom{width:694px;position:relative;margin:0 auto;zoom:1;margin-top:60px}
.footWrap{ min-width:1152px; height:68px;margin-top:-68px;position:relative; z-index:100;  background:#9C928B; /*border-top:1px solid #E3E3E3;*/}
#footer{clear:both;position:relative;height:68px;z-index:100;  border:0px solid #000;}
#realContents{clear:both;padding-top:10px;}
#titleContent {font-size:27px; font-family:나눔고딕; font-weight:600; padding-top:11px; letter-spacing:-2px;}
/* footer */
.foot_area{width:1152px; margin:0px auto 0;padding-top: 5px;overflow:hidden;}
.foot_area .footer_logo{width:113px; height:48px; float:left;text-indent:-9999px;overflow:hidden;background:url("/esecurity/assets/common/images/common_user/footer_logo02.png") no-repeat;}
.foot_area .copyright{width:327px; height:48px; float:left;text-indent:-9999px;overflow:hidden;background:url("/esecurity/assets/common/images/common_user/address02.png") no-repeat;}
.foot_area .relation{float:right;overflow:hidden; margin:12px 52px 0 0;}
.top_logo{display:block; width:224px; height:75px; float:left; border:0px solid #000; overflow:hidden; }
.top_mu{ float:right; margin-top:25px; overflow:hidden; border:0px solid #000;}
.top_mu li{clear:both; text-align:left;}
.top_mu li.ico01{color:#5F5F5F; font-weight:bold; padding-left:15px; background:url('/esecurity/assets/common/images/common_user/ico01.jpg') no-repeat left center;}
.top_mu01{ float:right; position:relative; top:20px; overflow:hidden; line-height:1.6em; text-align:right;}
.top_mu01 li{display:inline;}
.ico02{color:#FFFFFF; font-weight:bold; padding-left:15px; background:url('/esecurity/assets/common/images/common_user/ico01.jpg') no-repeat left center;}
.ico02 span{color:#FFFFFF; font-weight:normal;}
/*
.nav	{ float:left; width:700px; height:71px; border:1px solid #000; text-align:center;}
	*+html body .nav li {width:80px; margin:0 auto; height:42px; padding:10px 29px 0px 29px; border:0px solid #000; background:url('/esecurity/assets/common/images/common/navi_bar.jpg') no-repeat right 15px;}
	.nav li {float:left; height:22px; padding:10px 29px; border:1px solid #000;  background:url('/esecurity/assets/common/images/common/navi_bar.jpg') no-repeat right center;}
	.nav li.lineno {background:url('') no-repeat right center;}
	
	.nav li a	{ float:left; height:29px; overflow:hidden; border:0px solid #000;}
	.nav li div	{ display:none;  height:185px; border:1px solid #000; }
	.nav li .title	{ float:left; width:173px; height:60px; padding:40px 0 0 10px; }
	.nav li ul	{ padding-top:0px; border:1px solid #000; }
	*+html body .nav li ul li	{ width:141px; height:29px; padding:0 5px 0 0;  text-align:center; background:url('') no-repeat right center; border:0px solid #000;}
	.nav li ul li	{ height:29px; padding:0 5px 0 0;  background:url('') no-repeat right center; border:0px solid #000;}
	.nav li div.sub3 ul li	{ padding:0 20px 0 0; }
	.nav li ul li .depth3	{ display:none; position:absolute; left:0; top:63px; width:550px; padding:5px 0 0; border-top:1px solid #d6d3d0; }
	.nav li ul li .depth3 ul	{ display:inline; width:auto; padding:0 !important; }
	.nav li ul li .depth3 ul li	{ height:auto; padding:0 15px 0 0; }
	.nav li div.sub3 ul li ul li	{ padding:0 13px 0 0; }
	.nav li ul li.on ul	{ display:block; }
	.nav li .slogan	{ display:none; position:absolute; left:183px; top:63px; width:550px; padding:11px 0 0 0; border-top:1px solid #d6d3d0; }
	.nav li.last	{ padding-right:0 !important; }
	.nav li div.sub1	{ background:url('/home/images/header/bg_sub1.jpg') no-repeat center top; }
	.nav li div.sub2	{ background:url('/home/images/header/bg_sub2.jpg') no-repeat center top; }
	.nav li div.sub3	{ background:url('/home/images/header/bg_sub3.jpg') no-repeat center top; }
	.nav li div.sub4	{ background:url('/home/images/header/bg_sub4.jpg') no-repeat center top; }
	.nav li div.sub5	{ background:url('/home/images/header/bg_sub5.jpg') no-repeat center top; }
	.nav li div.sub6	{ background:url('/home/images/header/bg_sub6.jpg') no-repeat center top; }
	.nav li div.sub7	{ background:url('/home/images/header/bg_sub7.jpg') no-repeat center top; }
*/
/*topMenu*/
	.nav	{ float:left; width:600px; margin-top:35px;  height:71px; border:0px solid #000;}
	.nav li { float:left; height:45px; padding:0 35px; border:0px solid #000; background:url('/esecurity/assets/common/images/common_user/navi_bar.jpg') no-repeat right 7px;}
	.nav li a	{ float:left; height:22px; overflow:hidden; border:0px solid #000;}
	.nav li div	{ display:none; position:absolute; top:68px; left:230px; text-align:center; height:185px; border:0px solid #000; }
	.nav li ul	{ position:relative; padding-top:10px; }
	.nav li ul li	{ height:29px; padding:0 15px 0 15px; background:url('') no-repeat right center; border:0px solid #000;}
	.nav li div.sub3 ul li	{ padding:0 20px 0 0; }
	.nav li ul li .depth3	{ display:none; position:absolute; left:0; top:63px; width:550px; padding:5px 0 0; border-top:1px solid #d6d3d0; }
	.nav li ul li .depth3 ul	{ display:inline; width:auto; padding:0 !important; }
	.nav li ul li .depth3 ul li	{ height:auto; padding:0 15px 0 0; }
	.nav li div.sub3 ul li ul li	{ padding:0 13px 0 0; }
	.nav li ul li.on ul	{ display:block; }
	.nav li .slogan	{ display:none; position:absolute; left:183px; top:63px; width:550px; padding:11px 0 0 0; border-top:1px solid #d6d3d0; }
	.nav li.last	{ padding-right:0 !important; }
/*LNB*/
	#security_gnb {width:199px; background:url('/esecurity/assets/common/images/common/left_area_bg.jpg') repeat-y 0 0; overflow:hidden;}
	#security_gnb .left_nav	{width:199px; padding:20px 0 70px; font-weight:bold; background:url('/esecurity/assets/common/images/common_user/left_area_bottom.jpg') no-repeat 0 bottom; border:0px solid #000; overflow:hidden;}
	#security_gnb .left_nav li { float:left; height:25px; padding:5px 0 5px 5px; margin-left:20px; width:151px; border-bottom:1px solid #D7D9D8;}
	#security_gnb .left_nav li a	{ float:left; display:block; height:22px; overflow:hidden; border:0px solid #000;}
	#security_gnb .left_nav li div	{ display:none; position:absolute; top:68px; left:230px; text-align:center; height:185px; border:0px solid #000; }
	#security_gnb .left_nav li ul	{ position:relative; padding-top:10px; }
	#security_gnb .left_nav li ul li	{ height:29px; padding:0 15px 0 15px; background:url('') no-repeat right center; border:0px solid #000;}
.left_banner{clear:both; margin:0; padding:0; line-height:0em;}
.left_banner li{clear:both;}
/* ȸ���� */
#membershipBody{width:100%; background:url('/esecurity/assets/common/images/common_user/membership_top_bg.jpg') repeat-x 0 0;}
#membershipArea{width:718px; margin:0 auto;}
.membership_logo {clear:both; }
.membership_logo h1{float:left; text-indent:-5000px; width:129px; height:82px; background:url('/esecurity/assets/common/images/common_user/membership_logo.png') no-repeat left 0 ;}
.membership_logo h1 a{display:block; width:129px; height:82px;}
.membership_title{float:right; margin:45px 0 16px 0; text-indent:-5000px; width:241px; height:47px; background:url('/esecurity/assets/common/images/common_user/membership_title.png') no-repeat left 0 ;}
.membership_title01{clear:both; height:86px; background:#FF7504;}
.membership_title01 img{position:relative; top:30px; left:20px;}
.me_title{margin-top:10px;}
.member_box {width:718px; padding-bottom:20px; margin:10px 0 20px 0; overflow:hidden; background:url('/esecurity/assets/common/images/common_user/mem_btm.jpg') no-repeat left bottom;}
.member_box01 {width:718px; padding-bottom:10px; margin:10px 0 20px 0;  background:url('/esecurity/assets/common/images/common_user/mem_btm.jpg') no-repeat left bottom;}
.member_box .top {height:19px; font-size:0; background:url('/esecurity/assets/common/images/common_user/mem_top.jpg') no-repeat left top;}
.member_box01 .top {height:19px; font-size:0; background:url('/esecurity/assets/common/images/common_user/mem_top.jpg') no-repeat left top;}
.membership_content{width:700px; margin:0 auto;}
.membership_footer{border-top:1px solid #D7D9D8; padding:15px 0;}
.membership_footer_area{width:718px; margin:0 auto;}
.membership_footer_logo{float:left; text-indent:-5000px; width:87px; height:41px; background:url('/esecurity/assets/common/images/common_user/membership_footer_logo.png') no-repeat left 0 ;}
.membership_footer_copyright{float:right; margin-top:10px; text-indent:-5000px; width:242px; height:22px; background:url('/esecurity/assets/common/images/common_user/footer_copyright.jpg') no-repeat ;}