@charset "utf-8";

#outLayout #bodyArea .login_content .body {position: relative; float: left; width:100%; background: #ea002c url(../images/common/main/login_bg.png) right center no-repeat; padding: 60px 0; color:#fff; }
#outLayout #bodyArea .login_content .body .wrap {width: 1000px; margin: 0 auto;}
  #outLayout #bodyArea .copy {position: relative; float: left; width: 50%; font-size: 17px; letter-spacing: -0.05em; height:96px;}
    #outLayout #bodyArea .copy span,
    #outLayout #bodyArea .copy strong {display: block;}
    #outLayout #bodyArea .copy strong {font-size: 36px; margin: 30px 20px 20px 50px; font-weight: normal;}