<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skshieldus.esecurity.repository.common.SampleRepository">

  <select id="selectSampleListPaging" resultType="sampleDTO">
    /*  sampleRepository.selectSampleListPaging */
    SELECT
            T.*
    FROM
         (
          SELECT
                ROW_NUMBER() OVER (ORDER BY SAMPLE_NO ASC) AS RNUM,
                 SAMPLE_NO,
                 TITLE,
                 COLUMNS,
                 SUB_TITLE,
                 NAME,
                 JUNIOR,
                 NICKNAME,
                 IMAGE_PATH,
                 IMAGE_YN,
                 GUITAR,
                 USE_YN,
                 CONTENT,
                 LOAD_DATE,
                 LOAD_TIME
          FROM TBL_SAMPLE
          WHERE 1=1
          <if test="not @org.springframework.util.StringUtils@isEmpty(title)">
            AND  UPPER(TITLE) LIKE '%'||UPPER(#{title})||'%'
          </if>
          <if test="not @org.springframework.util.StringUtils@isEmpty(subTitle)">
            AND  UPPER(SUB_TITLE) LIKE '%'||UPPER(#{subTitle})||'%'
          </if>
        ) T
    WHERE RNUM BETWEEN ( (#{pageIndex} - 1) * #{pageSize}) + 1	AND ( (#{pageIndex} - 1) * #{pageSize}) + #{pageSize}
  </select>

  <select id="selectSampleList" resultType="sampleDTO">
    /*  sampleRepository.selectSampleList */

    SELECT
          SAMPLE_NO,
          TITLE,
          COLUMNS,
          SUB_TITLE,
          NAME,
          JUNIOR,
          NICKNAME,
          IMAGE_PATH,
          IMAGE_YN,
          GUITAR,
          USE_YN,
          CONTENT,
          LOAD_DATE,
          LOAD_TIME
      FROM TBL_SAMPLE
      WHERE 1=1
      <if test="not @org.springframework.util.StringUtils@isEmpty(title)">
        AND  UPPER(TITLE) LIKE '%'||UPPER(#{title})||'%'
      </if>
      <if test="not @org.springframework.util.StringUtils@isEmpty(subTitle)">
        AND  UPPER(SUB_TITLE) LIKE '%'||UPPER(#{subTitle})||'%'
      </if>
  </select>

  <select id="selectSampleListCnt" resultType="int">
    /*  sampleRepository.selectSampleListCnt */

    SELECT COUNT(*)
    FROM TBL_SAMPLE
    WHERE 1=1
    <if test="not @org.springframework.util.StringUtils@isEmpty(title)">
      AND  UPPER(TITLE) LIKE '%'||UPPER(#{title})||'%'
    </if>
    <if test="not @org.springframework.util.StringUtils@isEmpty(subTitle)">
      AND  UPPER(SUB_TITLE) LIKE '%'||UPPER(#{subTitle})||'%'
    </if>
  </select>

  <select id="selectSampleExcelList" parameterType="Map" resultType="CamelHashMap">
    SELECT
          SAMPLE_NO,
          TITLE,
          COLUMNS,
          SUB_TITLE,
          NAME,
          JUNIOR,
          NICKNAME,
          IMAGE_PATH,
          IMAGE_YN,
          GUITAR,
          USE_YN,
          CONTENT,
          LOAD_DATE,
          LOAD_TIME
          FROM TBL_SAMPLE
          WHERE 1=1
          <if test="not @org.springframework.util.StringUtils@isEmpty(title)">
            AND  UPPER(TITLE) LIKE '%'||UPPER(#{title})||'%'
          </if>
          <if test="not @org.springframework.util.StringUtils@isEmpty(subTitle)">
            AND  UPPER(SUB_TITLE) LIKE '%'||UPPER(#{subTitle})||'%'
          </if>
  </select>

</mapper>
