@charset "utf-8";

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {margin:0; padding:0; font-size:100%; /*vertical-align:baseline*/}
body, th, td, input, select, textarea, button, pre {font-size:12px; line-height:140%; font-family:'맑은 고딕', "Dotum", "돋움", "Gulim", "굴림","Helvetica","sans-serif"; color:#111111}
form, input, ul, li, ol, dl, dt, dd, fieldset {margin:0; padding:0;list-style:none}
img, fieldset, iframe {border:none}
hr{display:none;}
blockquote, q {quotes:none}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}
input, select, textarea, button, img, label {vertical-align:middle}
button {border:0 none; background-color:transparent; cursor:pointer}
table { /*border-collapse:collapse;*/ border-spacing:0; width:100%; text-align:justify;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal}
legend, caption{ /*visibility:hidden;*/ overflow:hidden;position:absolute;top:0;left:-3000px;width:.1%;height:.1%; line-height:.1%;font-size:0px; }

body input[type="radio"] {border:none}
body input[type="checkbox"] {border:none}
body input[type="submit"] {cursor:pointer}
body input[type="submit"],
body input[type="reset"],
body input[type="button"]{filter:chroma(color=#000000)}
body input[type="image"] {display:inline-block}    


body{
/*
margin:0;
padding:0;
border:0;
font-size:0.75em;
line-height:1.8em;     
letter-spacing:0em;
*/
scrollbar-3dlight-color:#ffffff;
scrollbar-arrow-color:#666666;
scrollbar-base-color:#ffffff;
scrollbar-darkshadow-color:#d7d7d7;
scrollbar-face-color:#f2f2f2;
scrollbar-highlight-color:#f2f2f2;
scrollbar-shadow-color:#f2f2f2;
scrollbar-track-color:#f2f2f2;
}


/*
body, table												{width:100%;margin:0px;padding:0px;}
select, input, textarea, button{margin:0px; padding:0px; font-family:"돋움", "나눔고딕", "맑은고딕", "Malgun Gothic", nanum, Dotum, arial, AppleGothic, "Lucida Grande", Tahoma, Verdana, UnDotum, sans-serif;}
div, p, ul, li, dl, dt, dd, span, h1, h2, h3, h4, h5, form, fieldset	{margin:0px;padding:0px;}
img, table												{border:0px none}
a														{border:0px none; cursor:pointer;}
a,img,input												{vertical-align:absmiddle;margin:0px;padding:0px}

///////////////////////////////////////

@font-face {
    font-family: nanum;
    src:url('/esecurity/assets/common/css/NanumGothic.eot');
    src: local('※ '), url('/esecurity/assets/common/css/NanumGothic.woff') format('woff'), url('/esecurity/assets/common/css/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: nanumBold;
    src:url('/esecurity/assets/common/css/NanumGothicBold.eot');
    src: local('※ '), url('/esecurity/assets/common/css/NanumGothicBold.woff') format('woff'), url('/esecurity/assets/common/css/NanumGothicBold.ttf') format('truetype');
}
////////////////////////////////////////

button{margin:0;padding:0;overflow:hidden;cursor:pointer;border:0; font-family:nanum;}

h1, h2, h3, h4, h5, h6{font-size:2em;}

ul {list-style:none;}
li{list-style:none;}
ol, dl {list-style:none outside ;}
dd, dt {line-height:1.8em;}


fieldset{border:none;}
hr{display:none;}
.caption_style{display:none;}

table.Table02 caption{display:none;}
table.Table03 caption{display:none;}
table {border-collapse:collapse; border-spacing:0; text-align:justify;}

.overFlow {overflow:hidden;}
img {border:0px;}
*/


/* link */
a {color:#666666; text-decoration:none; font-weight:normal;}
a:link {color:#666666; text-decoration:none; font-weight:normal;}
a:visited {color:#666666; text-decoration:none; font-weight:normal;}
a:hover, a:active {color:#EA002C; text-decoration:none; font-weight:normal;}



/* skip-navi 바로가기 2013-11-08 */
#skip_navi{position:absolute; top:0px; left:0; width:100%; text-indent:-9999px; z-index:1000; height:0px}
#skip_navi li {width:0px; height:0px}
#skip_navi a {display:inline-block; width:0px; height:20px}
#skip_navi a:hover,
#skip_navi a:focus,
#skip_navi a:active {position:absolute; top:0px; left:0px;display:block; width:100%; height:25px; padding-top:7px; text-indent:0px; text-align:center; background:#000; color:#fff; font-size:12px; font-weight:bold; text-align:center; }




/************************/
/*** form tag style   ***/
/************************/

input, textarea, select {padding:3px 5px 3px 5px; border-top:1px solid #C0C0C0; border-left:1px solid #C0C0C0; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; background:#ffffff; vertical-align:middle; color:#575757; letter-spacing:0px; line-height:1em; font-size:1em;}
textarea {overflow:auto; scrollbar-3dlight-color:#ffffff; scrollbar-arrow-color:#666666; scrollbar-base-color:#ffffff; scrollbar-darkshadow-color:#d7d7d7; scrollbar-face-color:#f2f2f2; scrollbar-highlight-color:#f2f2f2;	scrollbar-shadow-color:#f2f2f2;	scrollbar-track-color:#f2f2f2;}
input{vertical-align:middle;}
.input_trans {border:0px solid #000; background-color:transparent;cursor:hand; vertical-align:middle;}

.input_type01 {padding:8px 5px; border:1px solid #C7C1B5; background:#ffffff; vertical-align:middle; color:#6F695E; height:18px; font-family:nanum; font-size:1.2em; line-height:1.4em;}
.input_type02 {border-top:1px solid #939592; border-left:1px solid #939592; font-size:11px; border-right:1px solid #A4A5A3; border-bottom:1px solid #A4A5A3; background:#ffffff; vertical-align:middle; color:#fff; letter-spacing:-1px; line-height:1em;}
.input_type03 {padding:2px 5px 1px 5px; border-top:1px solid #C0C0C0; border-left:1px solid #C0C0C0; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; background:#F8F8F8; vertical-align:middle; color:#575757; letter-spacing:0px; line-height:1em; font-family:nanum; font-size:1em;}
.input_type03:disabled {border-top:1px solid #C0C0C0; border-left:1px solid #C0C0C0; border-right:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; background:#E3E3E3; vertical-align:middle; color:#575757; letter-spacing:0px; line-height:1em; font-family:nanum; font-size:1em;}
.input_type04 {padding:4px 5px 1px 5px;  border-top:1px solid #DEDEDE; border-left:1px solid #DEDEDE; font-size:1.2em; border-right:1px solid #A4A5A3; border-bottom:1px solid #A4A5A3; font-family:nanum; vertical-align:middle; color:#000; line-height:1em; background:#F9FAF4;}
.input_type05 {padding:5px 3px; border:1px solid #C7C1B5; background:#fff; vertical-align:middle; color:#6F695E; height:18px; font-family:nanum; font-size:1.2em; line-height:1.4em;}
input.bg_none	{padding:4px 5px 1px 5px;  border:1px solid #57AA76; font-size:1.2em;  font-family:nanum; vertical-align:middle; color:#000; line-height:1em; background:#fff;}

del, address, textarea, pre, i, em {line-height:1.8em; }

select{vertical-align:middle; padding:2px 0px 2px 5px;}

.border_none{border:0px solid #000; margin:0; padding:0; }

/*******************/
/*** font  tools ***/
/*******************/
.glm{font-family:gulim;}
.dtm{font-family:dotum;}

.ls-1{letter-spacing:-1px;}
.l_spacing-1 {letter-spacing:-1px;}
.ws-1{word-spacing:-1px;}
.lw1{letter-spacing:-1px; word-spacing:-1px;}
.lw0{letter-spacing:0px; word-spacing:0px;}

.bigest{font-size:1.6em; font-weight:bold;}
.big{font-size:1.4em;}
.large{font-size:1.2em;}
.normal{font-size:1em;}
.small{font-size:0.9em;}

.lh14{line-height:14px;}
.lh15{line-height:15px;}
.lh16{line-height:16px;}
.lh17{line-height:17px;}
.lh18{line-height:18px;}
.lh19{line-height:19px;}
.lh20{line-height:20px;}

/*******************/
/*** align  tools ***/
/*******************/
.center{text-align:center;}
.justify{text-align:justify;}
.left{text-align:left;}
.right{text-align:right;}
.fcenter{margin:0 auto;}
.vtop{vertical-align:top;}
.l {text-align:left;}
.r {text-align:right;}
.c {text-align:center;}
.b {font-weight:bold;}
.margin_0{margin:0}

/*******************/
/*** etc tools ***/
/*******************/

.fl{float:left; !important}
.fr{float:right;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both;}
.fb{float:left;clear:both;}
.clear_both {clear:both;}
.clear_both01 {clear:both;float:left;}
.float_left {float:left;}
.float_right {float:right;}

em {font-style:normal;}
.hidden	{display:none;}
.clb,.clr {clear:both;}
.border	{border:2px #000 solid;}
img.middle {vertical-align:middle;}
img.top {vertical-align:top;}
.cursor	{cursor:pointer;}
.png {tmp:expression(setPngImg(this));}
.png24{tmp:expression(setPng24(this));}

.font_14 {font-size:1.4em;}
.date01 {font-weight:normal;}
.display_none {display:none;}


/* margin */
	.minMT28 { margin-top: -28px; }
	.minMT20 { margin-top: -20px; }
	.minMT15 { margin-top: -15px; }
	.minMT10 { margin-top: -10px; }
	.minMT7 { margin-top: -7px; }
	.minMT6 { margin-top: -6px; }
	.minMT2 { margin-top: -2px; }
	.mT0 { margin-top: 0px; }
	.mT1 { margin-top: 1px; }
	.mT2 { margin-top: 2px; }
	.mT3 { margin-top: 3px; }
	.mT4 { margin-top: 4px; }
	.mT5 { margin-top: 5px; }
	.mT6 { margin-top: 6px; }
	.mT7 { margin-top: 7px; }
	.mT8 { margin-top: 8px; }
	.mT9 { margin-top: 9px; }
	.mT10 { margin-top: 10px; }
	.mT11 { margin-top: 11px; }
	.mT12 { margin-top: 12px; }
	.mT14 { margin-top: 14px; }
	.mT15 { margin-top: 15px; }
	.mT17 { margin-top: 17px; }
	.mT19 { margin-top: 19px; }
	.mT20 { margin-top: 20px; }
	.mT25 { margin-top: 25px; }
	.mT28 { margin-top: 28px; }
	.mT30 { margin-top: 30px; }
	.mT32 { margin-top: 32px; }
	.mT40 { margin-top: 40px; }
	.mT57 { margin-top: 57px; }
	.mT110 { margin-top: 110px; }
	.mT135 { margin-top: 135px; }
	.mT169 { margin-top: 169px; }
	.mT_20 { margin-top: -20px; }
	.minMR4 { margin-right: -4px; }
	.mR3 { margin-right: 3px; }
	.mR4 { margin-right: 4px; }
	.mR5 { margin-right: 5px; }
	.mR7 { margin-right: 7px; }
	.mR8 { margin-right: 8px; }
	.mR10 { margin-right: 10px; }
	.mR14 { margin-right: 14px; }
	.mR15 { margin-right: 15px; }
	.mR18 { margin-right: 18px; }
	.mR20 { margin-right: 20px; }
	.mR25 { margin-right: 25px; }
	.mR30 { margin-right: 30px; }
	.mR35 { margin-right: 35px; }

	.minMB30 { margin-bottom: -30px; }
	.minMB10 { margin-bottom: -10px; }
	.mB0 {}
	.mB1 { margin-bottom: 1px; }
	.mB2 { margin-bottom: 2px; }
	.mB3 { margin-bottom: 3px; }
	.mB4 { margin-bottom: 4px; }
	.mB5 { margin-bottom: 5px; }
	.mB7 { margin-bottom: 7px; }
	.mB8 { margin-bottom: 8px; }
	.mB10 { margin-bottom: 10px; }
	.mB12 { margin-bottom: 12px; }
	.mB20 { margin-bottom: 20px; }
	.mB30 { margin-bottom: 30px; }

	.mL5 { margin-left: 5px; }
	.mL6 { margin-left: 6px; }
	.mL10 { margin-left: 10px; }
	.mL20 { margin-left: 20px; }
	.mL30 { margin-left: 30px; }
	.mL36 { margin-left: 36px; }

	/* padding */
	.pT14 { padding-top: 14px; }
	.pT15 { padding-top: 15px; }

	.pR5 { padding-right: 5px; }
	.pR7 { padding-right: 7px; }
	.pR10 { padding-right: 10px;}

	.pL16 { padding-left: 16px; }
	.pB20 { padding-bottom: 20px; }
	.pp5 { padding: 5px; }


.green01 { COLOR: #1A711A;font-weight:bold;}
.green02 { COLOR: #3C8447;font-weight:bold;}
.green03 { COLOR: #0D7D50;font-weight:bold; font-size: 14px}
.orange01 { COLOR: #7F5300;font-weight:bold; font-size: 16px; letter-spacing:-1px;}
.orange02 { COLOR: #CE5114;font-weight:bold;}
.blue01{ COLOR: #1D79A8;font-weight:bold;}
.blue02{ COLOR: #0A8298}
.color01{color:#4F91B3;}
.color02{color:#536FB7;}
.color03{color:#53B780;}

.b01{ font-weight:bold;font-size: 14px}

.box_1{scrollbar-face-color: #439E68;
scrollbar-highlight-color: #3B87CA;
scrollbar-3dlight-color: #F1F1F1;
scrollbar-shadow-color: #ffffff;
scrollbar-darkshadow-color: #F0EEE5;
scrollbar-track-color: #FBFAF9;
scrollbar-arrow-color: #ffffff;
BORDER-RIGHT: #DCDCDC 1px solid; BORDER-TOP: #DCDCDC 1px solid; BORDER-LEFT: #DCDCDC 1px solid;
BORDER-BOTTOM: #DCDCDC 1px solid;
width:630px; padding:3px;}

.box_2{scrollbar-face-color: #439E68;
scrollbar-highlight-color: #3B87CA;
scrollbar-3dlight-color: #F1F1F1;
scrollbar-shadow-color: #ffffff;
scrollbar-darkshadow-color: #F0EEE5;
scrollbar-track-color: #FBFAF9;
scrollbar-arrow-color: #ffffff;
padding:4px ;BORDER-RIGHT: #DCDCDC 0px solid; BORDER-TOP: #DCDCDC 0px solid; BORDER-LEFT: #DCDCDC 0px solid;
BORDER-BOTTOM: #DCDCDC 0px solid;}

.board_none{border:0px solid #000; background:none;}

.white { COLOR: #ffffff; font-weight:bold;}
.yellow { COLOR: #AD8318; }
.yellow01 { COLOR: #8E611B;}
.yellow02 { COLOR: #DD9619; font-weight:bold;}
.brown { COLOR: #3E2C00;}

.lh7{line-height:7px;}
.lh0{line-height:0px;}

iframe {overflow:auto; font-family:nanum; scrollbar-3dlight-color:#ffffff; scrollbar-arrow-color:#666666; scrollbar-base-color:#ffffff; scrollbar-darkshadow-color:#d7d7d7; scrollbar-face-color:#f2f2f2; scrollbar-highlight-color:#f2f2f2;	scrollbar-shadow-color:#f2f2f2;	scrollbar-track-color:#f2f2f2;}
.scroll {overflow:auto;  scrollbar-3dlight-color:#ffffff; scrollbar-arrow-color:#666666; scrollbar-base-color:#ffffff; scrollbar-darkshadow-color:#d7d7d7; scrollbar-face-color:#f2f2f2; scrollbar-highlight-color:#f2f2f2;	scrollbar-shadow-color:#f2f2f2;	scrollbar-track-color:#f2f2f2;}
.no_list01{height:50px; text-align:center;}
.no_list02{height:200px; text-align:center;}

/* etc */
.txind {text-indent: -1000px; border:0px solid #000; display:none;}
#mask {position: absolute; z-index: 9000; background-color: #000; display: none; left: 0; top: 0;}
.ui-progressbar-value {background:transparent url('/images/jquery/pbar-ani.gif'); border:0px solid #fff;}
.w150{width:250px;}
.bold{font-weight:bold;}

/* jqgrid 접근성관련 css 수정 */
.jqgrid_type1 { display: inline !important; }
.jqgrid_type1 th { 
    border-left: 0px none; border-top: 2px solid #616161; background: url('/esecurity/assets/common/images/common/board_bg_line.gif') repeat-x 0 0; text-align: center; color: #5C5C5C; vertical-align:middle; /*font-size: 1em;*/ font-size:11px; font-weight: bold; height: 26px; padding: 4px 0 4px 0;
}
.jqgrid_type1 td { vertical-align : middle; }
