@charset "utf-8";
@import url('http://www.skhystec.com/resource/css/kor/style.css');

body {color:#555;font-family:"Nanum Gothic", Malgun Gothic, "맑은 고딕", Dotum, "돋움", sans-serif;}

div.privacyCon	{
	position:relative;
	float:left;
	padding:20px;
	}
div.privacyBox	{
	position:relative;
	width:100%;
	}
div.privacyTop	{
	position:relative;
	width:100%;
	height:70px;
	padding:0;
	}
	div.privacyClose	 {
		position:relative;
		float:right;
		width:5%;
		text-align:right;
		}
	div.privacyTab	{
		position:relative;
		float:left;
		width:100%;
		}
		div.privacyTab ul	{
			position:relative;
			width:100%;
			padding:0;
			margin:0;
			}
		div.privacyTab li	{
			float:left;
			width:267px !important;
			list-style:none outside none !important;
			padding:0 !important;
			}
	div.privacyBox h1	{
		position:relative;
		float:left;
		width:100%;
		font-family:"Nanum Gothic", Malgun Gothic, "맑은 고딕", Dotum, "돋움", sans-serif;
		font-weight:bold;
		font-size:24px;
		line-height:2em;
		color:#333;
		letter-spacing:-0.05em;
		}
	div.privacyBox h2	{
		position:relative;
		float:left;
		width:100%;
		font-size:16px;
		font-weight:bold;
		color:#222;
		line-height:24px;
		margin-top:30px;
		}
	div.privacyBox h3	{
		position:relative;
		float:left;
		width:100%;
		font-size:13px;
		line-height:1.8em;
		font-weight:bold;
		color:#333;
		margin-top:10px;
		}
	div.privacyBox h4	{
		position:relative;
		float:left;
		width:100%;
		line-height:1.8em;
		font-weight:bold;
		color:#222;
		}
	div.privacyBox p	{
		position:relative;
		float:left;
		width:100%;
		line-height:1.8em;
		letter-spacing:-0.05em;
		padding-top:15px;
		margin:0;
		}
	div.privacyBox ol	{
		position:relative;
		padding-left:27px;
		}
		div.privacyBox ol li{
			position:relative;
			list-style:decimal-leading-zero;
			line-height:1.5em;
			padding:0;
			margin:5px 0;
			clear:both;
			}
	div.privacyBox ul.list_bullet {
		position:relative;
		float:left;
		width:100%;
		}
	div.privacyBox ul.list_bullet li {
		position:relative;
		list-style:none;
		margin:5px 0;
		line-height:1.4em;
		padding-left:10px;
		}
		div.privacyBox ul.list_bullet li:before {
			content:'';
			display:block;
			position:absolute;
			width:2px;
			height:2px;
			background:#777;
			left:0;top:7px;
			}

	div.privacyBox dl {
		position:relative;
		}

		div.privacyBox dl dt {
			position:relative;
			margin:10px 0 0 0;
			font-weight:bold;
			}

		div.privacyBox dl dd {
			position:relative;
			margin:5px 0 10px 10px;
			padding-left:10px;
			}
		div.privacyBox dl dd:last-child {
			position:relative;
			margin:5px 0 0 10px;
			padding-left:10px;
			}

	div.privacyList	{
		position:relative;
		float:left;
		width:100%;
		margin:20px 0;
		}
		table.privacyList	{
			border-top:2px solid #ccc;
			border-bottom:1px solid #ccc;
			}
			table.privacyList th	{
				text-align:center;
				border-top:1px solid #ccc;
				border-bottom:1px solid #ccc;
				background:#f4f4f4;
				font-weight:bold;
				padding:2px;
				}
			table.privacyList td	{
				text-align:center;
				border-bottom:1px solid #ccc;
				padding:2px;
				}
	div.privacyDate	{
		position:relative;
		float:left;
		width:100%;
		border-top:1px solid #ccc;
		text-align:right;
		padding:5px 0 0 0;
		margin:10px 0 0 0;
		}

/* popup */
div.tPopContentsArea						{float:left;position:relative;margin:0px;padding:2px;width:496px;height:559px;background-color:#DC5865;display:block}

	div.popContentsArea								{position:relative;margin:0px auto;padding:0px;width:494px;height:557px;background-color:#fff;text-align:left;display:block}
	div.popContents span						{position:absolute;top:-99999px}

		div.popContents								{float:left;position:relative;margin:0px;padding:0px 38px;width:420px;display:block}
			div.popContents h3.title						{position:relative;margin:0px 0px 30px 0px;padding:0px;width:420px;height:23px;background:url(/ko/common/images/title/findPost.gif) no-repeat left top;display:block}
			div.popContents p.findArea					{position:relative;margin:15px 0px 20px 0px;padding:0px 0px 0px 0px;width:420px;height:63px;text-align:left;background-color:#f9f9f9;border-top:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;display:block}
			div.popContents p.findArea a.title			{position:absolute;margin:20px 0px 0px 55px;padding:0px;color:#464646;font-weight:bold}
			div.popContents p.findArea a.inputPost		{position:absolute;margin:20px 0px 0px 102px;padding:0px}
			div.popContents p.findArea a.btnFindPost	{position:absolute;margin:20px 0px 0px 277px;padding:0px}

		div.DivFindPost							{float:left;position:relative;margin:0px;overflow-y:scroll;overflow-x:hidden;border-bottom:1px solid #c5c5c5;width:420px;height:232px;z-index:99}

		.postTable							{width:420px}
			.postTable td.addcenter date				{padding:4px 0px;text-align:center;border-bottom:1px solid #e4e4e4}
			.postTable td.address				{padding:4px 0px;text-align:left;border-bottom:1px solid #e4e4e4}
			.postTable td.noAddress				{margin:0px;padding:90px 0px 0px;text-align:center}


.con_box{float:left; width:100%; padding-top:10px;}

.tablePrivacy{width:100%;font-size:13px; border-top:2px solid #464e6b;}
.tablePrivacy th{padding-left:20px;padding-right:20px;line-height:20px;}
.tablePrivacy th,.tablePrivacy td{font-weight:bold;letter-spacing:-0.05em;color:#484f68;text-align:center;border-left:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;background-color:#f8f8f8;}
.tablePrivacy th, .tablePrivacy td{padding:6px 20px 10px;color:#555;line-height:20px;letter-spacing:-0.05em;border-left:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;}
.tablePrivacy th.bg_gray{background:#f8f8f8;}
.tablePrivacy th.al_c, .tablePrivacy td.al_c{text-align:center;}
.tablePrivacy td.bdb_none{border-bottom:0;padding:6px 10px 0 !important;}
.tablePrivacy td {text-align:center; background:#fff; font-weight:normal;}
.tablePrivacy.padding_less th,.tablePrivacy.padding_less td{padding:6px 10px 10px;}
.tablePrivacy .part_number{color:#ea5d4b;text-decoration:underline;}
.tablePrivacy .talign_c{text-align:center;}

.tablePrivacy ul.tbl_bullet li{position:relative; list-style:none; margin:0; line-height:1.4em; padding-left:10px; text-align:left;}
.tablePrivacy ul.tbl_bullet li:before { content:''; display:block; position:absolute; width:2px; height:2px; background:#777; left:0;top:8px;}
